{%extends 'base.html'%}

{%block contentcolumn%}
<div class="breadcrumb">
	Subjects &#187; {{subject}} &#187; Delete
</div>
<div class="left_col">
<img src="/site_media/images/exclamation.png" border="0" align="top"/>
<b>Are you sure to continue to remove {{subject}} completely?</b>
    <form action="/subject/delete/{{subject.id}}" method="POST">
    <input type="submit" name="submit" id="id_submit" value="Yes, Delete the subject"/>
    <input type="button" name="cancel" id="id_cancel_button" value="Cancel" onclick="javascript:history.back();"/>
    </form>
</div>
<div class="rdescription">
					<h3>Help</h3>
                    All sample data and all relationships descending that subject are all going to be purged
                    permanently. Please be aware of what you are doing.
					<h3>Where am I?</h3>
						<ul>
							<li>Subjects
								<ul>
									<li>Delete</li>
								</ul>
							</li>
						</ul>

</div>
<script>
	$('.rdescription').corner("bottom");
</script>
{%endblock%}
