{%extends 'base.html'%}

{%block contentcolumn%}

<div class="breadcrumb">
	Subjects &#187; {{subject}} &#187; Edit
</div>

<div class="left_col">
	{% if form.errors %}
		<b>Solve the errors below</b>
	{% endif %}
	<form action="/subject/edit/{{subject.id}}" method="POST">
	<table>
		{{form.as_table}}
		<tr>
				<td>&nbsp;</td>
				<td>
				<input type="submit" name="submit" id="id_submit_button" value="Update"/>
				<input type="button" name="cancel" id="id_cancel_button" value="Cancel" onclick="javascript:history.back();"/>	
				</td>
		</tr>
	</table>
	</form>
</div>

	<div class="rdescription">
					<h3>Help</h3>
					You are only allowed to add subjects to the projects you subscribed before. The reason you cannot
					list all the projects under the projects combobox is to make you focus on projects only you want to
					deal with. You can always subscribe to other projects as well as you can unsubscribe from the ones you have
					already done with. That will increase your performance and reduce the risk of making mistakes.
					Do you think it is not a good idea or have a better idea? Then <a href="/comment">send</a> us your comments.
					<h3>Where am I?</h3>
						<ul>
							<li>Subjects
								<ul>
									<li>Create New</li>
								</ul>
							</li>
						</ul>

	</div>
<script>
	$('.rdescription').corner("bottom");
</script>


{%endblock%}
